.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

.tudo {
    display: flex;
    padding: 100px;
    gap: 50px ;
    justify-content: center;
    text-align: justify;
}

.subtitulo {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  width: 400px;
  height: 350px; 
  object-fit: cover; 
  display: block;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));

}

h4{
    font-family: 'Oswald', sans-serif;
}


p{
    margin-top: 20px;
}