.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

body{
    color: white;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-head {
  width: 80px;
  filter: brightness(0) invert(1);
}

.cabecalho {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.header-info{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 20px;
    margin-left: 20px;
}