body {
  margin: 0;
  padding: 0;
}

.carrosel-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.carrosel-slide {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-overlay {
  position: absolute;
  margin: 10px 10px 10px 0;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* separa o título dos links */
  z-index: 15;
}

.overlay {
  margin-top: 30px;
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  z-index: 15;
  color: #fff;
  text-align: center;
  pointer-events: none;
  gap: 20px;

}

.carrosel-container {
  position: relative;
}

.carrosel-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; /* igual à altura do .carrosel-slide */
  background: rgba(0, 0, 0, 0.5); /* preto com 50% de opacidade */
  z-index: 12; /* entre o slide e a .overlay */
  pointer-events: none;
}

.title {
  text-align: center;
}

.descricao {
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
}

.teste {
  display: flex;
  gap: 24px;
}