.sash-container {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  margin-bottom: 2px; 
}

.react-fast-marquee {
  display: flex;
  align-items: center;
  height: 100%;
}

.sash-image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}